@use "../../pages/variables";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 90px;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    height: 95%;
  }
}

.nav {
  margin: 0 2vw;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  li {
    height: 60px;
    width: 110px;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--textColor);

    &:nth-child(1) {
      > a > div {
        background-color: variables.$color1-light;
      }
    }
    &:nth-child(2) {
      > a > div {
        background-color: variables.$color2-light;
      }
    }
    &:nth-child(3) {
      > a > div {
        background-color: variables.$color3-light;
      }
    }
    &:nth-child(4) {
      > a > div {
        background-color: variables.$color4-light;
      }
    }
  }
}

.link {
  color: var(--textColor);
  text-decoration: var(--textColor);
  font-weight: 500;
  font-family: var(--robotoSlab);
  font-size: 1.1rem;
}

.linkIsActive {
  height: 3px;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
  width: 100%;
}
