.line {
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
    color: var(--textColor);
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  transition: all 400ms ease-in-out;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 400s ease-in-out;
  background: var(--backgroundColor);

  > * {
    transition: all 400ms ease-in-out;
  }

  &:hover {
    background: transparent;
  }
}

.title {
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 3rem;
  margin-left: 2rem;
  color: white;
  mix-blend-mode: difference;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin-left: 2rem;
  mix-blend-mode: difference;
}

.listEl {
  font-family: var(--textFont);
  font-size: 1.1rem;
  font-weight: 600;
  color: white;

  &::before {
    content: "#";
  }
}
