@use "../../pages/variables";

.footer {
  width: 100vw;
  min-height: variables.$footer_height;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.text {
  font-family: var(--titleFont);
  color: var(--textColor);
  font-size: 1.1rem;
  user-select: none;
  font-weight: 400;

  svg {
    height: 1.1rem;
    margin: 0 0.3rem;
  }
}

.heartActive {
  color: variables.$color1-light;
}

.socialMedia {
  display: flex;
  list-style: none;
  gap: 1rem;

  a {
    color: var(--textColor);
    transition: color 200ms ease-in-out;
    position: relative;
    svg {
      width: 3rem;
      height: 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      bottom: -8px;
      left: 0;
      border-radius: 2px;
      transition: background-color 200ms ease-in-out;
    }
    &:hover::after {
      background-color: var(--textColor) !important;
    }
  }
}

.socialMediaChild {
  $colors: (
    1: variables.$color1-light,
    2: variables.$color2-light,
    3: variables.$color3-light,
    4: variables.$color4-light,
  );

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) a::after {
      background-color: map-get($colors, $i);
    }
  }
}
