@use "./variables";
@use "./progress";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    background-color: lighten(variables.$dark-background, 4%);
  }
  @media (prefers-color-scheme: light) {
    background-color: darken(variables.$light-background, 4%);
  }
  @media (prefers-color-scheme: no-preference) {
    background-color: darken(variables.$light-background, 4%);
  }
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

main {
  width: 100vw;
  min-height: calc(100vh - calc(#{variables.$footer_height} + 90px));
  margin-top: 90px !important;

  section {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1400px;
    position: relative;

    @media (prefers-color-scheme: dark) {
      background-color: lighten(variables.$dark-background, 4%);
    }
    @media (prefers-color-scheme: light) {
      background-color: darken(variables.$light-background, 4%);
    }
    @media (prefers-color-scheme: no-preference) {
      background-color: darken(variables.$light-background, 4%);
    }
  }
}

// ! setup color theme
@media (prefers-color-scheme: dark) {
  :root {
    --backgroundColor: #{variables.$dark-background};
    --textColor: white;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: #{variables.$light-background};
    --textColor: black;
  }
}
@media (prefers-color-scheme: no-preference) {
  :root {
    --backgroundColor: #{variables.$light-background};
    --textColor: black;
  }
}

code {
  .hljs-keyword {
    color: variables.$color1-light;
  }
  .hljs-attr {
    color: variables.$color4-dark;
  }
  .hljs-title {
    color: variables.$color2-light;
  }
  .hljs-property {
    color: white;
  }
  .hljs-string {
    color: variables.$color4-light;
  }
}
