$light-background: #ebe4e1;
$dark-background: #222222;

$color1-light: #fe1804;
$color1-dark: #cb1101;
$color2-light: #ed8c01;
$color2-dark: #c97203;
$color3-light: #039b0e;
$color3-dark: #026409;
$color4-light: #00b6c1;
$color4-dark: #00858f;

$footer_height: 300px;
