@use "./variables";

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{variables.$footer_height});
  width: 100%;
}

.errorCode {
  font-family: var(--titleFont);
  font-weight: 400;
  text-align: center;
  color: variables.$font_color;
  font-size: 4rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 100%;
    bottom: 1rem;
    background-color: variables.$font_color;
  }
}

.errorText {
  text-align: center;
  color: variables.$font_color;
  font-family: var(--textFont);
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.errorLink {
  margin-top: 1rem;
  color: variables.$accent_color;
}
