@use "./variables";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 90px;
  background-color: variables.$background_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

  svg {
    height: 95%;
  }
}

.completeHidden {
  opacity: 0;
  animation: 0ms 300ms removeDisplay forwards step-end;
}

.title {
  font-family: var(--titleFont);
  font-size: 2.5rem;
  font-weight: 400;
  color: variables.$font_color;
  margin: 0 2vw;
  text-decoration: none;
}

.titleLink {
  text-decoration: none;
}

.translucent {
  background-color: transparent;
}

.nav {
  margin: 0 2vw;
  transition: opacity 200ms ease-in-out;
  position: relative;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;

  li {
    height: 60px;
    width: 110px;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: variables.$font_color;

    > a > div {
      background-color: variables.$accent_color;
    }
  }
}

.link {
  color: var(--textColor);
  text-decoration: none;
  font-family: var(--titleFont);
  font-size: 1.35rem;
  font-weight: 400;
}

.linkIsActive {
  height: 3px;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
  width: 100%;
}

@keyframes removeDisplay {
  100% {
    left: 200%;
  }
}
