@use "./variables";

.container {
  width: 100vw;
  height: 550vh;
}
.section {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: variables.$background_color_main;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 3;

  &.variant {
    background-color: variables.$background_color;
  }
}

.horizontalContainer {
  width: 200vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.sectionforth {
  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 11vw;
    font-family: var(--textFont);
    line-height: 1.1;
    text-align: center;
    width: 100vw;

    span {
      position: relative;
    }
  }
  &__content {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 5rem;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;

    &__socialMedias {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;

      li {
        height: 40px;
        width: 40px;
        list-style: none;
        user-select: none;

        a {
          color: variables.$font_color;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          user-select: none;
          transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
          transform: scale(1);

          &:hover {
            color: variables.$accent_color;
            transform: scale(1.05);
          }
        }
      }
    }

    &__form {
      width: 35vw;

      &__container {
        display: flex;
        gap: 10%;
      }

      h3 {
        font-size: 1.9rem;
        font-family: var(--textFont);
        font-weight: 500;
        color: variables.$font_color;
        margin-bottom: 1rem;
        text-align: center;
      }

      button {
        margin-top: 50px;
        border: 2px solid variables.$font_color;
        background-color: variables.$background_color;
        outline: none;
        color: variables.$font_color;
        width: 100%;
        padding: 1rem 0rem;
        font-size: 1.4rem;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color 0.3s ease-in-out;
        font-weight: 600;

        &::after {
          content: "";
          height: 0%;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: -1;
          background-color: variables.$font_color;
          transition: height 0.3s ease-in-out;
        }

        &:hover {
          color: variables.$background_color;
          &::after {
            height: 100%;
          }
        }
      }

      &__input {
        position: relative;
        width: 45%;

        height: 4rem;

        &__variant {
          width: 100%;
        }

        input,
        textarea {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 1.2rem;
          color: variables.$font_color;
          margin-bottom: 30px;
          border: none;
          border-bottom: 2px solid variables.$font_color;
          background-color: transparent;
          outline: none;
          font-family: var(--textFont);
          width: 100%;

          &:focus + label,
          &:valid + label {
            top: -20px;
            left: 0;
            font-size: 0.9rem;
            color: variables.$accent_color;
          }
        }

        label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 1.2rem;
          color: variables.$font_color;
          pointer-events: none;
          transition: 0.5s;
          font-family: var(--textFont);
          user-select: none;
        }
      }
    }

    &__topics {
      width: 40vw;

      &__active {
        opacity: 1 !important;
      }

      h3 {
        font-size: 1.9rem;
        font-family: var(--textFont);
        font-weight: 500;
        color: variables.$font_color;
        margin-bottom: 1rem;
        text-align: center;
      }

      ul {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
      }

      li {
        font-size: 1.5rem;
        font-family: var(--textFont);
        font-weight: 600;
        color: variables.$font_color;
        list-style: none;
        border: 2px solid variables.$font_color;
        padding: 1rem;
        width: fit-content;
        cursor: pointer;
        position: relative;
        background-color: variables.$background_color;
        z-index: 1;
        overflow: hidden;

        user-select: none;
        opacity: 0;

        &::after {
          content: "";
          height: 100%;
          width: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          background-color: variables.$font_color;
          transition: width 0.3s ease-in-out;
        }

        &:hover {
          color: variables.$background_color;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.sectionfirst {
  &__title {
    position: absolute;
    font-size: 8vw;
    font-family: var(--titleFont);
    font-weight: 800;
    color: variables.$font_color;
    left: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 100vw;
    bottom: 2vw;

    span {
      position: absolute;

      &:nth-child(1) {
        left: 2vw;
        bottom: 8vw;
      }

      &:nth-child(2) {
        right: 2vw;
        bottom: 0;
      }
    }
  }
}

.sectionsecond {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0px;
  height: unset;
  min-height: 100vh;

  &__title {
    font-family: var(--textFont);
    width: fit-content;
    display: flex;
    margin-top: 1vw;
    left: 0;
    white-space: nowrap;

    span {
      font-size: 10vw;
      text-transform: uppercase;
      font-variation-settings: "wght" 800, "ital" 0;
      color: variables.$font_color;
      margin-right: 5vw;
    }

    transform: translateX(0%);
  }

  &__content {
    min-height: calc(100% - 14vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: relative;
    gap: 2rem;
    margin: 1vw 0 2vw 0;

    &__link {
      text-decoration: none;
      font-size: 1.5rem;
      font-family: var(--textFont);
      font-variation-settings: "wght" 600;
      color: variables.$font_color;
      text-transform: uppercase;
      position: relative;

      &:hover::after {
        animation: linkAnimation 1s ease-in-out;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: variables.$font_color;
        transition: width 0.3s ease-in-out;
        bottom: 0;
        left: 0;
      }

      @keyframes linkAnimation {
        0% {
          width: 100%;
          right: 0;
          left: unset;
        }
        50% {
          width: 0;
          right: 0;
          left: unset;
        }
        51% {
          width: 0;
          right: unset;
          left: 0;
        }
        100% {
          width: 100%;
          right: unset;
          left: 0;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 66%;
      margin: 0 auto;
      list-style: none;
    }

    &__text {
      font-family: var(--textFont);
      font-size: 1.5rem;
      font-variation-settings: "wght" 500, "wdth" 80;
      color: variables.$font_color;

      &__link {
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:not(:hover) {
          color: variables.$font_color !important;
        }
      }

      &__title {
        font-size: 5rem;
        font-variation-settings: "wght" 900, "wdth" 80;
      }
    }

    &__image {
      position: absolute;
      top: 10%;
      right: 17%;
      width: 50%;
      max-width: 500px;
      height: 80%;
      background-repeat: no-repeat;
      background-position: center;
      z-index: -1;
      transition: opacity 0.8s ease-in-out, width 0.8s ease-in-out,
        max-width 0.8s ease-in-out;
      background-size: cover;

      &__active {
        opacity: 1;
        width: 50%;
        max-width: 600px;
      }

      &__inactive {
        opacity: 0;
      }
    }
  }
}

.sectionthird {
  background-color: darken(variables.$font_color, 15%) !important;
  width: 100vw;
  height: unset;
  display: block;
  min-height: 100vh;
  position: sticky;
  top: 0px;
  overflow: unset;

  &__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__title {
    font-family: var(--textFont);
    font-size: 23vw;
    z-index: 1;
    white-space: nowrap;
    color: variables.$background_color_main;
    font-weight: 900;
    text-transform: uppercase;
    user-select: none;
  }
}
