@use "./variables";

.introduction {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.introductionImage {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accentColor);
  background-position-y: top 0px;
  background-position-x: center;
}

.introductionTitle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  color: variables.$font_color;
  font-family: var(--titleFont);
}

.description {
  height: 75vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.descriptionImage {
  object-fit: cover;
  width: auto;
  max-width: 30vw;
}

.descriptionTitle {
  font-size: 3rem;
  color: variables.$font_color;
  font-family: var(--titleFont);
}

.descriptionList {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  list-style: none;
  max-width: 35vw;
}

.descriptionListItem {
  font-size: 1.3rem;
  color: var(--contrastedColor);
  background-color: var(--accentColor);
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  font-family: var(--textFont);

  &::before {
    content: "#";
    color: var(--contrastedColor);
  }
}

.descriptionText {
  font-size: 1.3rem;
  color: variables.$font_color;
  font-family: var(--textFont);
  overflow-wrap: break-word;
  max-width: 35vw;
  margin: 1rem 0;
}

.descriptionButton {
  background-color: var(--accentColor);
  color: var(--contrastedColor);
  font-family: var(--titleFont);
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  border: var(--accentColor) 2px solid;

  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;

  &:hover {
    background-color: var(--contrastedColor);
    color: var(--accentColor);
    border: black 2px solid;
  }
}

.members {
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.membersTitle {
  font-size: 3rem;
  color: variables.$font_color;
  font-family: var(--titleFont);
}

.memberImageContainer {
  min-height: 500px;
  max-width: 15vw !important ;

  div {
    height: 500px !important;
  }
  canvas {
    height: 100% !important;
    cursor: grab;
  }
}

.memberImage {
  object-fit: cover;
}

.membersContainer {
  height: 50vh;
  width: 60vw;
  position: relative;
}

.membersSlider {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 3rem;
    color: var(--accentColor) !important;
  }
}

.membersSliderLeft {
  left: 0;
}

.memberLinkHidden {
  opacity: 0;
}

.member {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 0.5s;

  img {
    transition: transform 0.5s;
  }

  h3,
  h4,
  p,
  a {
    transition: transform 0.5s;
    transform-origin: left;
  }
}

.memberNotVisible {
  opacity: 0;
  pointer-events: none;

  img {
    transform: scale(0.1) rotate(20deg);
  }

  h3,
  h4,
  p,
  a {
    transform: scale(0.3);
  }
}

.memberVisible {
  opacity: 1;
  z-index: 4;

  img {
    transform: scale(1);
  }
}

.membersSliderRight {
  right: 0;
}

.memberData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.memberText {
  overflow-wrap: break-word;
  max-width: 35vw;
  font-size: 1.4rem;
  font-family: var(--textFont);
  min-height: 108px;
}

.memberName {
  font-size: 2.5rem;
  font-family: var(--titleFont);
  font-weight: 400;
  line-height: 0.85;
}

.memberRole {
  font-size: 1.4rem;
  font-family: var(--textFont);
}

.memberLink {
  font-size: 1.4rem;
  font-family: var(--textFont);
  color: var(--contrastedColor);
  background-color: var(--accentColor);
  text-decoration: none;
  width: 10rem;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 1rem;
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);

  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out, transform 0.5s ease-in-out !important;
  border: var(--accentColor) 2px solid;

  &:hover {
    background-color: var(--contrastedColor);
    color: var(--accentColor);
    border: black 2px solid;
  }
}

.showmore {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.showmoreError {
  font-size: 1rem;
  line-height: 1;
  height: 30px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  position: relative;
  z-index: 1;
  border-radius: 0.5rem;
  font-family: var(--textFont);
}

.showmoreErrorIsActive {
  background-color: red;
  color: white;
}

.showmoreNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.showmoreImage {
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: azure;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.showmoreButton {
  position: relative;
  z-index: 1;
  background-color: var(--accentColor);
  color: var(--contrastedColor);
  font-family: var(--titleFont);
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--contrastedColor);
    color: var(--accentColor);
  }
}

.fullContent {
  width: 100vw;
  height: 0px;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}

.fullContentVisible {
  height: auto;
}

.fullContentArticle {
  max-width: 1400px;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  min-height: 70vh;
  gap: 2vw;
}

.fullContentText {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  h2,
  h3 {
    font-size: 2.3rem;
    font-family: var(--titleFont);
  }

  p {
    font-size: 1.2rem;
    font-family: var(--textFont);
    text-align: justify;
  }
}

.fullContentImages {
  overflow: hidden;
  width: 30vw;
  position: relative;
}

.fullContentImage {
  width: 100%;
  height: 80%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 0;
}

.fullContentConclusion {
  max-width: 1000px;
  width: 100vw;
  margin: 5rem auto;

  h2,
  h3 {
    font-size: 2.3rem;
    font-family: var(--titleFont);
  }

  p {
    font-size: 1.2rem;
    font-family: var(--textFont);
    text-align: justify;
  }
}

.gap {
  height: 35vh;
  width: 100vw;
  position: relative;
}

.gapImage {
  height: 100%;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accentColor);
  background-position-y: top 0px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
