@use "./variables";

.title {
  text-align: center;
  color: variables.$font_color;
  font-family: var(--titleFont);
  font-weight: 400;
  font-size: 6vw;
  margin: calc(#{variables.$header_height} + 2rem) 0 2rem 0;
  user-select: none;
  text-transform: uppercase;
  width: 100vw;
  white-space: nowrap;
  overflow: hidden;

  @media screen and (max-width: 650px) {
    font-size: 7vw;
  }

  &__variant {
    font-size: 2rem;
    font-family: var(--titleFont);
    text-align: center;
    color: variables.$font_color;
    font-weight: 400;
    user-select: none;
    white-space: nowrap;
    width: 100vw;
    margin: 5rem 0;
  }
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  width: 100vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.text {
  margin-right: 12.5%;
  float: right;
  font-family: var(--textFont);
  color: variables.$font_color;
  text-decoration: none;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-variation-settings: "wght" 400;

  transition: color 300ms ease-in-out, font-variation-settings 300ms ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: variables.$font_color;
    z-index: -1;
    transition: width 300ms ease-in-out;
  }

  &:hover {
    color: variables.$background_color_main;
    font-variation-settings: "wght" 700;

    svg {
      color: variables.$font_color;
    }
    &::before {
      width: calc(100% - 2.3rem);
    }
  }

  svg {
    height: 1.8rem;
    width: 1.8rem;
  }
}

.banner {
  &__project {
    width: calc(20vw - 1rem);
    height: calc(20vw - 1rem);
    min-width: 250px;
    min-height: 250px;
    background-color: transparent;
    padding: 1.5rem;
    position: relative;
    transition: background-color 600ms ease-in-out;
    overflow: hidden;
    border: 2px solid variables.$font_color;
    list-style: none;

    @media screen and (max-width: 650px) {
      width: 48vw;
      height: 48vw;
      min-width: unset;
      min-height: unset;
      padding: 0.5rem;
    }

    &:hover {
      background-color: var(--color);

      .banner__text,
      .banner__callToAction {
        h3,
        h4,
        svg {
          color: white;
          mix-blend-mode: difference;
        }
      }
    }
  }

  &__link {
    text-decoration: none;
    color: variables.$font_color;
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
  }

  &__text {
    h3 {
      font-size: 3rem;
      font-family: var(--textFont);
      text-decoration: none;
      line-height: 0.9;
      transition: color 600ms ease-in-out, mix-blend-mode 600ms ease-in-out;
      font-weight: 800;

      @media screen and (max-width: 650px) {
        font-size: 2rem;
      }
    }
    h4 {
      font-size: 1.7rem;
      font-family: var(--textFont);
      margin-top: 1rem;
      transition: color 600ms ease-in-out, mix-blend-mode 600ms ease-in-out;
      font-weight: 600;
    }
  }

  &__callToAction {
    svg {
      transition: color 600ms ease-in-out, mix-blend-mode 600ms ease-in-out;
      height: 50px;
      width: 50px;
      position: absolute;
      right: 2rem;
      bottom: 2rem;

      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}

.logofolio {
  width: 70vw;
  height: 30vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;

  article {
    min-height: 200px;
    min-width: 200px;
    width: 10vw;
    height: 10vw;
    position: relative;

    img {
      min-height: 200px;
      min-width: 200px;
      width: 10vw;
      height: 10vw;
      position: absolute;
      z-index: 2;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
}

.allProjects {
  &__back {
    text-decoration: none;
    color: variables.$font_color;
    font-family: var(--textFont);
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;

    span::after {
      transition: width 200ms ease-in-out;
      width: 0%;
      content: "";
      height: 0.2rem;
      background-color: variables.$accent_color;
      position: absolute;
      bottom: -0.2rem;
      left: 0;
    }

    span {
      position: relative;
    }

    &:hover span::after {
      width: 100%;
    }

    svg {
      color: variables.$font_color;
      height: 1.8rem;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 5rem;
    transition: height 600ms ease-in-out;

    @media screen and (max-width: 700px) {
      width: 100vw;
    }
  }
  &__filter {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100vw;
    overflow: hidden;

    @media screen and (max-width: 950px) {
      flex-direction: column;
      gap: 1rem;
      align-items: center;
    }

    p {
      display: flex;
      gap: 1rem;
      align-items: center;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
      }

      &:first-of-type {
        @media screen and (max-width: 800px) {
          display: none;
        }
      }
    }

    label {
      font-family: var(--textFont);
      color: variables.$font_color;
      font-size: 1.5rem;
      font-weight: 500;
    }

    select,
    input {
      height: 2.5rem;
      font-size: 1.3rem;
      padding: 0 0.5rem;
      border-radius: 0.5rem;
      outline: none;
      border: none;
    }
  }
  &__title {
    padding-top: calc(#{variables.$header_height} + 2rem);
    font-size: 6vw;
    font-family: var(--titleFont);
    color: variables.$font_color;
    margin-bottom: 2rem;
    text-align: center;
    color: variables.$font_color;
    font-family: var(--titleFont);
    font-weight: 400;

    user-select: none;
    text-transform: uppercase;

    @media screen and (max-width: 800px) {
      font-size: 10vw;
    }
  }
}
